@media (min-width: 1000px) {
  .header {
    background: lightgreen;
  }
}
@media (min-width: 500px) {
  .navigation {
    background: lightblue;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.navigation {
  border: 2px dashed black;
  width: 500px;
  display: flex;
}
.navigation .header {
  width: 1000px;
  height: 75px;
  background-color: #6c756d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
.navigation .header h1 {
  border: 1px solid green;
  width: 35%;
  height: 40px;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 5px;
  margin: 5px;
}
.navigation nav {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2%;
  font-size: 1rem;
}
.navigation nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}
.navigation nav a:hover {
  background: transparent;
  color: chocolate;
}
.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.menu {
  display: none;
  position: fixed;
  top: 75px;
  right: 0;
  width: 350px;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: chocolate;
  border: 1px solid teal;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu ul li {
  list-style-type: none;
  font-size: 20px;
  padding: 30px 0;
  text-align: center;
}
.menu--over {
  display: block;
}
.main-content {
  display: flex;
  flex-direction: column;
  background: transparent;
}
.main-content .top {
  border: 1px solid blue;
  width: 98%;
  padding: 1%;
  text-align: center;
}
.main-content .text-box {
  width: 98%;
  padding: 1%;
  text-align: center;
}
footer {
  border-top: 2px solid black;
}
.about-content {
  border: 2px dashed green;
  height: 450px;
  display: flex;
  flex-direction: row;
  background: transparent;
}
.about-content .text-content {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}
.about-content .text-content .dev-img {
  width: 4px;
  margin: 5px;
}
.about-content .text-content .dev-imgr {
  width: 4px;
}
html,
body {
  margin: 0;
  padding: 0%;
  font-family: sans-serif;
  background-color: #fffef7;
}
.container {
  width: 1000px;
  height: 640px;
  border: 1px solid red;
  font-family: sans-serif;
  background-image: url("https://www.annenbergphotospace.org/wp-content/uploads/2016/02/refugee-1920x1000-hero_0.jpg");
  margin: 1%;
}
