.navigation {
    border: 2px dashed black;
    width: 500px;

    // @media @desktop {
    //     background:lightgreen;
    //     width:1000px;
    //     margin:0 2%;
    // }

    h1 {
        width: 15%;
        height: 50px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }

    nav {
        .topper();
    }

    nav a {
        .navs();
    }

    nav a:hover {
        background: transparent;
        color: chocolate;
    }
}