// Color assignments 
@font-color: @dell;
@button-bg: @eastern;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@dell: #212529;
@eastern: #17A2B8;
@beach: #FFEBCD;

// Mobile design styling

@desktop: ~"(max-width: 1000px)";
@mobile: ~"(max-width: 500px)";

// .header {
//     @media @desktop {
       
//     }
// }    

// .navigation {
//     @media @mobile {
//         background: lightblue;
//     }
// }    