// content, padding, border, margin

.main-content {
    display: flex;
    flex-direction: column;
    background: transparent;

    .top {
        border: 1px solid blue;
        width: 98%;
        height: 70px;
        padding: 1%; 
        margin-top: 20px; 
        text-align: center;
    }

    .text-box {
        width: 98%;
        padding: 1%;
        text-align: center;
    }
}

footer {
    border-top: 1px solid black;
}