// content, padding, border, margin

.main-content {
    display: flex;
    flex-direction: column;
    background: transparent;
    margin-top: 20px;
    color: white;

    .top {
        width: 100%;
        height: 70px;
        padding: 1%; 
        margin-top: 40px; 
        text-align: center;
    }

    .text-box {
        width: 98%;
        padding: 1%;
        text-align: center;

        

    }
}

footer {
    border-top: 1px solid black;
    background-image: url("C:\Users\user\lambda\MT-refugee-stories\Image\Capture.png");
    height: 50px;
}