.about-content {
    border: 2px dashed green;
    height: 450px;
    display: flex;
    flex-direction: row;
    background: transparent;

    .text-content {
        border: 1px solid blue;
        display: flex;
        flex-direction: row;
        
        .dev-img {
            width: 4px;
            margin: 5px;
        }

        .dev-imgr {
            width: 4px;
        }




    }
}