.about-content {
    display: flex;
    flex-direction: row;
    background: transparent;

    .text-content {
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 10px;
        
        // @media @desktop {
        //     display:flex;
        //     flex-direction: row;

        // }

        .dev-img {
            width: 4px;
            margin: 5px;
        }

        .dev-imgr {
            width: 4px;
            justify-content: flex-end;
        }




    }
}